version: '3.8'
services:
  holamundo:
    image: "$CI_REGISTRY/$CI_PROJECT_PATH:$CI_PROJECT_NAME-$ENTORNO-$CI_COMMIT_SHORT_SHA"
    container_name: holamundo
    restart: unless-stopped
    ports:
      - 8080:5000

