version: "3.8"
services:
   gitlab:
     image: 'gitlab/gitlab-ce:latest'
     container_name: gitlab    
     restart: unless-stopped
     privileged: true
     logging:
       options:
         max-size: "100m"
         max-file: "3"
     hostname: 'gitlab.tfgunir.es'
     environment:
       GITLAB_OMNIBUS_CONFIG: |
         external_url 'http://gitlab.tfgunir.es'
         registry_external_url 'http://gitlab-registry.tfgunir.es:5005'
         gitlab_rails['registry_enabled'] = true
         gitlab_rails['registry_host'] = "gitlab-registry.tfgunir.es"
         gitlab_rails['registry_port'] = "5005"
         gitlab_rails['registry_path'] = "/var/opt/gitlab/gitlab-rails/shared/registry"
         #letsencrypt['enabled'] = false
         # Email
         gitlab_rails['gitlab_email_enabled'] = true
         gitlab_rails['gitlab_email_from'] = 'gitlab@tfgunir.es'
         gitlab_rails['gitlab_email_display_name'] = 'Admin gitlab.tfgunir.es'
     ports:
       - '80:80'
       - '443:443'
       - '22:22'
       - '5005:5005'
     volumes:
       - '$GITLAB_HOME/config:/etc/gitlab'
       - '$GITLAB_HOME/logs:/var/log/gitlab'
       - '$GITLAB_HOME/data:/var/opt/gitlab'
       - '$GITLAB_HOME/backups:/var/opt/gitlab/backups'
     networks: 
       - gitlab
   
   gitlab-runner:
      image: gitlab/gitlab-runner:alpine
      container_name: gitlab-runner    
      restart: always
      depends_on:
        - gitlab
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - '$GITLAB_HOME/gitlab-runner:/etc/gitlab-runner'
      networks:
        - gitlab

#   gitlab-pruebas:
#      image: docker:20.10
#      restart: always
#      depends_on:
#        - gitlab
#      volumes:
#        - /var/run/docker.sock:/var/run/docker.sock
#      command: tail -F /dev/null
#      networks:
#        - gitlab
#

networks:
   gitlab:
     name: gitlab-network
